* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game {
  border: 2px solid #ebe5e5;
  border-spacing: 30px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
  height: 50px;
  width: 60px;
  background-color: #fff;
  border: 1px solid #17171729;
}

.row1 button:nth-child(odd) {
  background-color: #535252;
}

.row2 button:nth-child(even) {
  background-color: #535252;
}

.row3 button:nth-child(odd) {
  background-color: #535252;
}

.row4 button:nth-child(even) {
  background-color: #535252;
}

.row5 button:nth-child(odd) {
  background-color: #535252;
}

.row6 button:nth-child(even) {
  background-color: #535252;
}

.row7 button:nth-child(odd) {
  background-color: #535252;
}

.row8 button:nth-child(even) {
  background-color: #535252;
}

.play {
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #000000c8;
  border: 2px solid #000000c8;
  color: white;
}

.play:hover {
  background-color: rgb(0, 255, 221);
  color: black;
  border: 2px solid black;
  transition: 0.3s;
}

.restart {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #0b0b0b48;
}

.restart:hover {
  background-color: #000000c8;
  color: white;
  transition: 0.3s;
}

.buttons-holder {
  height: 55px;
  display: flex;
  width: 285px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

h1 {
  margin-bottom: 30px;
  font-size: 3rem;
}

.message {
  margin-top: 20px;
  font-size: 25px;
  font-family: sans-serif;
}

@media screen and (max-width: 425px) {
  .btn {
    width: 30px;
  }

  h1 {
    font-size: 2rem;
  }

  .message {
    font-size: 20px;
  }
}
